@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
}

html,
body {
  @apply bg-background;
}

@theme inline {
  --font-cal: var(--font-cal);
  --font-fig: var(--font-fig);

  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
}

:root {
  --font-cal: "Cal Sans", sans-serif;
  --font-fig: "Figtree", sans-serif;
  --background: oklch(0 0 0);
  --primary: oklch(1 0 0);
  --secondary: oklch(0.274 0.006 286.033);
  --muted: oklch(70.428% 0.02066 263.017);
}

@layer base {
  body {
    @apply bg-background text-primary;
  }
}

.border-btn {
  border: 1px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
